In [1]:
# generate random data

import numpy as np
import pandas as pd
np.random.seed(42)
n_customers = 500
first_names = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer', 
               'Michael', 'Linda', 'William', 'Elizabeth', 'David', 'Susan',
               'Richard', 'Jessica', 'Joseph', 'Sarah', 'Thomas', 'Karen',
               'Charles', 'Nancy', 'Christopher', 'Lisa', 'Daniel', 'Margaret']

last_names = ['Smith', 'Johnson', 'Williams', 'Brown', 'Jones', 'Garcia',
              'Miller', 'Davis', 'Rodriguez', 'Martinez', 'Hernandez', 'Lopez',
              'Gonzalez', 'Wilson', 'Anderson', 'Thomas', 'Taylor', 'Moore',
              'Jackson', 'Martin', 'Lee', 'Perez', 'Thompson', 'White']
data = {
    'first_name': np.random.choice(first_names, n_customers),
    'last_name' : np.random.choice(last_names, n_customers),
    'age': np.random.randint(18, 70, n_customers),
    'annual_income': np.random.random_sample(500)*1000,
    'spending_score': np.random.randint(1, 100, n_customers),
}

df = pd.DataFrame(data)
df.to_csv('customers.csv', index=False)
print(df)

    first_name last_name  age  annual_income  spending_score
0      Michael  Thompson   64     690.560232              85
1        Nancy   Johnson   18     521.300667              26
2       Joseph    Taylor   43      86.705212              72
3        David    Martin   31     958.170793              48
4        Linda     White   55     758.392414              66
..         ...       ...  ...            ...             ...
495    Richard    Martin   54     587.061708              96
496   Patricia     Smith   61     168.444385               8
497      Sarah    Martin   66     642.575969              64
498   Margaret    Taylor   34     759.344328              10
499      Sarah     Lopez   27     500.445309              38

[500 rows x 5 columns]

In [2]:
# generate random data

import numpy as np
import pandas as pd
np.random.seed(42)
n_customers = 10000
first_names = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer', 
               'Michael', 'Linda', 'William', 'Elizabeth', 'David', 'Susan',
               'Richard', 'Jessica', 'Joseph', 'Sarah', 'Thomas', 'Karen',
               'Charles', 'Nancy', 'Christopher', 'Lisa', 'Daniel', 'Margaret']

last_names = ['Smith', 'Johnson', 'Williams', 'Brown', 'Jones', 'Garcia',
              'Miller', 'Davis', 'Rodriguez', 'Martinez', 'Hernandez', 'Lopez',
              'Gonzalez', 'Wilson', 'Anderson', 'Thomas', 'Taylor', 'Moore',
              'Jackson', 'Martin', 'Lee', 'Perez', 'Thompson', 'White']
data = {
    'first_name': np.random.choice(first_names, n_customers),
    'last_name' : np.random.choice(last_names, n_customers),
    'age': np.random.randint(18, 70, n_customers),
    'spending_score': np.random.randint(1, 100, n_customers),
}

df = pd.DataFrame(data)
df.to_csv('spending_score.csv', index=False)
print(df)

     first_name  last_name  age  spending_score
0       Michael     Taylor   58              59
1         Nancy      Perez   26              43
2        Joseph     Miller   25              92
3         David   Martinez   61              66
4         Linda  Hernandez   57               9
...         ...        ...  ...             ...
9995      David    Johnson   53              52
9996    Charles  Hernandez   64              65
9997       John  Rodriguez   24              44
9998      David     Garcia   69              30
9999     Robert      Davis   57              23

[10000 rows x 4 columns]